---
- include: ovs-deploy.yml
- include: nuage-install.yml
- include: nserver-deploy.yml
- include: vsd-deploy.yml
- include: stat-predeploy.yml
- include: util-predeploy.yml
- include: vsd-postinstall.yml
- include: stat-deploy.yml
- include: util-deploy.yml
- include: vsc-profiles.yml
- include: webvirtmgr-deploy.yml
- include: license.yml
