---
- import_playbook: ovs-deploy.yml
- import_playbook: nuage-install.yml
- import_playbook: nserver-deploy.yml
- import_playbook: vsd-deploy.yml
- import_playbook: stat-predeploy.yml
- import_playbook: util-predeploy.yml
- import_playbook: vsd-postinstall.yml
- import_playbook: stat-deploy.yml
- import_playbook: util-deploy.yml
- import_playbook: vsc-profiles.yml
- import_playbook: webvirtmgr-deploy.yml
- import_playbook: docker-deploy.yml
- import_playbook: license.yml
